/*******************************************************************************
 *
 * $DOCUMENT
 *
 ******************************************************************************/

html {
  overflow: hidden;
  cursor: default;
}

body {
  margin: 1em;
}

input, select, textarea, a[href]
{
  cursor: auto;
}


/*******************************************************************************
 *
 * $HEADERS
 *
 ******************************************************************************/

h1 {
  margin-top: -0.25em;
}

h1 img {
  vertical-align: sub;
}


/*******************************************************************************
 *
 * $BUTTONS
 *
 ******************************************************************************/

button {
  min-width: 7em;
  padding: 0.35em 0.5em;
}


/*******************************************************************************
 *
 * $CONTENT
 *
 ******************************************************************************/

#content {
  margin: 0 1em;
}

#content .footer {
  text-align: right;
}


/*******************************************************************************
 *
 * $FOOTER
 *
 ******************************************************************************/

#footer {
  position: fixed;
  bottom: 1em;
  left: 1em;
  right: 1em;
  text-align: right;
  border-top: 3px solid #ddd;
  padding-top: 1em;
}

#footer button {
  margin-left: 0.5em;
}
