# App Cache - Runtime-generated data, never committed
**/90__AppCache__TempFilesCache/
**/Na__DataLib__Cache__*.json

# Third-party plugin runtime files
curic_stretch/config/license.dat
s4u_slice/s4u_slice.txt

# Custom Archive Directories
00__Archive/
01__Archive/
00_Archive/
01_Archive/
00__ArchivedVersions/
01__ArchivedVersions/
00_ArchivedVersions/
01_ArchivedVersions/

# Checkpoint Archives
02_-_Code-Checkpoints-Archive/

habitat_analysis_hub.rb
habitat_analysis_hub/extension_info.txt
habitat_analysis_hub/images/icon.svg
habitat_analysis_hub/Resources/de-DE.json
habitat_analysis_hub/Resources/en-US.json
habitat_analysis_hub/Resources/es-ES.json
habitat_analysis_hub/Resources/fr-FR.json
habitat_analysis_hub/Resources/it-IT.json
habitat_analysis_hub/Resources/ja-JP.json
habitat_analysis_hub/Resources/ko-KR.json
habitat_analysis_hub/Resources/pt-BR.json
habitat_analysis_hub/Resources/ru-RU.json
habitat_analysis_hub/Resources/sv-SE.json
habitat_analysis_hub/Resources/zh-CN.json
habitat_analysis_hub/Resources/zh-TW.json
habitat_site_context.rb
habitat_site_context/extension_info.txt
habitat_site_context/images/tool-large.svg
habitat_site_context/images/tool-small.svg
habitat_site_context/Resources/cs-CZ.json
habitat_site_context/Resources/de-DE.json
habitat_site_context/Resources/en-US.json
habitat_site_context/Resources/es-ES.json
habitat_site_context/Resources/fr-FR.json
habitat_site_context/Resources/hu-HU.json
habitat_site_context/Resources/it-IT.json
habitat_site_context/Resources/ja-JP.json
habitat_site_context/Resources/ko-KR.json
habitat_site_context/Resources/pl-PL.json
habitat_site_context/Resources/pt-BR.json
habitat_site_context/Resources/ru-RU.json
habitat_site_context/Resources/sv-SE.json
habitat_site_context/Resources/zh-CN.json
habitat_site_context/Resources/zh-TW.json
su_sandbox/Resources/zh-TW/sandbox.strings
su_sandbox/Resources/zh-CN/sandbox.strings
su_sandbox/Resources/sv/sandbox.strings
su_sandbox/Resources/ru/sandbox.strings
su_sandbox/Resources/pt-BR/sandbox.strings
su_sandbox/Resources/pl/sandbox.strings
su_sandbox/Resources/ko/sandbox.strings
su_sandbox/Resources/ja/sandbox.strings
su_sandbox/Resources/it/sandbox.strings
su_sandbox/Resources/fr/sandbox.strings
su_sandbox/Resources/es/sandbox.strings
su_sandbox/Resources/en-US/sandbox.strings
su_sandbox/Resources/de/sandbox.strings
su_sandbox/Resources/cs/sandbox.strings
su_sandbox/images/stamper.svg
su_sandbox/images/smoove.svg
su_sandbox/images/flipper.svg
su_sandbox/images/flatterrain.svg
su_sandbox/images/drape.svg
su_sandbox/images/detailer.svg
su_sandbox/images/cursor_stamp_1.svg
su_sandbox/images/cursor_stamp_0.svg
su_sandbox/images/cursor_smoove.svg
su_sandbox/images/cursor_flipedge_proto.svg
su_sandbox/images/cursor_flipedge.svg
su_sandbox/images/cursor_drawfromscratch_2.svg
su_sandbox/images/cursor_drawfromscratch_1.svg
su_sandbox/images/cursor_drawfromscratch_0.svg
su_sandbox/images/cursor_drape_1.svg
su_sandbox/images/cursor_drape_0.svg
su_sandbox/images/cursor_cmove_proto.svg
su_sandbox/images/cursor_cmove.svg
su_sandbox/images/cursor_adddetail.svg
su_sandbox/images/contours.svg
su_sandbox/extension_info.txt
su_sandbox.rb
su_extension_migrator/Resources/zh-tw/extension_migrator.strings
su_extension_migrator/Resources/zh-cn/extension_migrator.strings
su_extension_migrator/Resources/sv/extension_migrator.strings
su_extension_migrator/Resources/ru/extension_migrator.strings
su_extension_migrator/Resources/pt-br/extension_migrator.strings
su_extension_migrator/Resources/pl/extension_migrator.strings
su_extension_migrator/Resources/ko/extension_migrator.strings
su_extension_migrator/Resources/ja/extension_migrator.strings
su_extension_migrator/Resources/it/extension_migrator.strings
su_extension_migrator/Resources/fr/extension_migrator.strings
su_extension_migrator/Resources/es/extension_migrator.strings
su_extension_migrator/Resources/en-US/extension_migrator.strings
su_extension_migrator/Resources/de/extension_migrator.strings
su_extension_migrator/Resources/cs/extension_migrator.strings
su_extension_migrator/modus.css
su_extension_migrator/images/update.svg
su_extension_migrator/images/status-success.svg
su_extension_migrator/images/status-fail.svg
su_extension_migrator/images/status-copied.svg
su_extension_migrator/images/sketchup.svg
su_extension_migrator/images/sketchup-pre2021.svg
su_extension_migrator/images/folder.svg
su_extension_migrator/images/arrow.svg
su_extension_migrator/extension_info.txt
su_extension_migrator/dialog.html
su_extension_migrator/dialog.css
su_extension_migrator.rb
su_dynamiccomponents/Resources/zh-TW/dynamiccomponents.strings
su_dynamiccomponents/Resources/zh-CN/dynamiccomponents.strings
su_dynamiccomponents/Resources/sv/dynamiccomponents.strings
su_dynamiccomponents/Resources/ru/dynamiccomponents.strings
su_dynamiccomponents/Resources/pt-BR/dynamiccomponents.strings
su_dynamiccomponents/Resources/pl/dynamiccomponents.strings
su_dynamiccomponents/Resources/ko/dynamiccomponents.strings
su_dynamiccomponents/Resources/ja/dynamiccomponents.strings
su_dynamiccomponents/Resources/it/dynamiccomponents.strings
su_dynamiccomponents/Resources/fr/dynamiccomponents.strings
su_dynamiccomponents/Resources/es/dynamiccomponents.strings
su_dynamiccomponents/Resources/en-US/dynamiccomponents.strings
su_dynamiccomponents/Resources/de/dynamiccomponents.strings
su_dynamiccomponents/Resources/cs/dynamiccomponents.strings
su_dynamiccomponents/js/sketchup_test.html
su_dynamiccomponents/js/sketchup_test.css
su_dynamiccomponents/js/manager.js
su_dynamiccomponents/js/json2.min.js
su_dynamiccomponents/js/functions.js
su_dynamiccomponents/js/dcbridge.js
su_dynamiccomponents/js/converter.js
su_dynamiccomponents/js/configurator.js
su_dynamiccomponents/js/components.js
su_dynamiccomponents/images/manager_tool.svg
su_dynamiccomponents/images/interact_tool.svg
su_dynamiccomponents/images/cursor_interact_tool_noactions.svg
su_dynamiccomponents/images/cursor_interact_tool_active.svg
su_dynamiccomponents/images/cursor_interact_tool.svg
su_dynamiccomponents/images/configurator_tool.svg
su_dynamiccomponents/html/reporter.html
su_dynamiccomponents/html/manager.html
su_dynamiccomponents/html/configurator.html
su_dynamiccomponents/extension_info.txt
su_dynamiccomponents/css/sketchup.css
su_dynamiccomponents/css/manager_ie.css
su_dynamiccomponents/css/manager.css
su_dynamiccomponents/css/configurator_ie.css
su_dynamiccomponents/css/configurator.css
su_dynamiccomponents/css/components.css
su_dynamiccomponents.rb
su_diffusion/su_loader.rbe
su_diffusion/su_diffusion.susig
su_diffusion/ruby/update_scene.rbe
su_diffusion/ruby/susdRootProxy.rbe
su_diffusion/ruby/susdRoot.rbe
su_diffusion/ruby/susdAna.rbe
su_diffusion/qt6.9.0/SketchUpDiffusion.so
su_diffusion/qt6.9.0/SketchUpDiffusion.bundle
su_diffusion/qt6.7.0/SketchUpDiffusion.so
su_diffusion/qt6.7.0/SketchUpDiffusion.bundle
su_diffusion/qt6.5.2/SketchUpDiffusion.so
su_diffusion/qt6.5.2/SketchUpDiffusion.bundle
su_diffusion/extension_info.txt
su_diffusion/current_lib/SketchUpDiffusion.so
su_diffusion/current_lib/SketchUpDiffusion.bundle
su_diffusion.rb
habitat_analysis_hub.rb
habitat_analysis_hub/extension_info.txt
habitat_analysis_hub/images/icon.svg
habitat_analysis_hub/Resources/de-DE.json
habitat_analysis_hub/Resources/en-US.json
habitat_analysis_hub/Resources/es-ES.json
habitat_analysis_hub/Resources/fr-FR.json
habitat_analysis_hub/Resources/it-IT.json
habitat_analysis_hub/Resources/ja-JP.json
habitat_analysis_hub/Resources/ko-KR.json
habitat_analysis_hub/Resources/pt-BR.json
habitat_analysis_hub/Resources/ru-RU.json
habitat_analysis_hub/Resources/sv-SE.json
habitat_analysis_hub/Resources/zh-CN.json
habitat_analysis_hub/Resources/zh-TW.json
habitat_site_context.rb
habitat_site_context/extension_info.txt
habitat_site_context/images/tool-large.svg
habitat_site_context/images/tool-small.svg
habitat_site_context/Resources/cs-CZ.json
habitat_site_context/Resources/de-DE.json
habitat_site_context/Resources/en-US.json
habitat_site_context/Resources/es-ES.json
habitat_site_context/Resources/fr-FR.json
habitat_site_context/Resources/hu-HU.json
habitat_site_context/Resources/it-IT.json
habitat_site_context/Resources/ja-JP.json
habitat_site_context/Resources/ko-KR.json
habitat_site_context/Resources/pl-PL.json
habitat_site_context/Resources/pt-BR.json
habitat_site_context/Resources/ru-RU.json
habitat_site_context/Resources/sv-SE.json
habitat_site_context/Resources/zh-CN.json
habitat_site_context/Resources/zh-TW.json
su_diffusion.rb
su_diffusion/current_lib/SketchUpDiffusion.bundle
su_diffusion/current_lib/SketchUpDiffusion.so
su_diffusion/extension_info.txt
su_diffusion/qt6.5.2/SketchUpDiffusion.bundle
su_diffusion/qt6.5.2/SketchUpDiffusion.so
su_diffusion/qt6.7.0/SketchUpDiffusion.bundle
su_diffusion/qt6.7.0/SketchUpDiffusion.so
su_diffusion/qt6.9.0/SketchUpDiffusion.bundle
su_diffusion/qt6.9.0/SketchUpDiffusion.so
su_diffusion/ruby/susdAna.rbe
su_diffusion/ruby/susdRoot.rbe
su_diffusion/ruby/susdRootProxy.rbe
su_diffusion/ruby/update_scene.rbe
su_diffusion/su_diffusion.susig
su_diffusion/su_loader.rbe
su_dynamiccomponents.rb
su_dynamiccomponents/css/components.css
su_dynamiccomponents/css/configurator.css
su_dynamiccomponents/css/configurator_ie.css
su_dynamiccomponents/css/manager.css
su_dynamiccomponents/css/manager_ie.css
su_dynamiccomponents/css/sketchup.css
su_dynamiccomponents/extension_info.txt
su_dynamiccomponents/html/configurator.html
su_dynamiccomponents/html/manager.html
su_dynamiccomponents/html/reporter.html
su_dynamiccomponents/images/configurator_tool.svg
su_dynamiccomponents/images/cursor_interact_tool.svg
su_dynamiccomponents/images/cursor_interact_tool_active.svg
su_dynamiccomponents/images/cursor_interact_tool_noactions.svg
su_dynamiccomponents/images/interact_tool.svg
su_dynamiccomponents/images/manager_tool.svg
su_dynamiccomponents/js/components.js
su_dynamiccomponents/js/configurator.js
su_dynamiccomponents/js/converter.js
su_dynamiccomponents/js/dcbridge.js
su_dynamiccomponents/js/functions.js
su_dynamiccomponents/js/json2.min.js
su_dynamiccomponents/js/manager.js
su_dynamiccomponents/js/sketchup_test.css
su_dynamiccomponents/js/sketchup_test.html
su_dynamiccomponents/Resources/cs/dynamiccomponents.strings
su_dynamiccomponents/Resources/de/dynamiccomponents.strings
su_dynamiccomponents/Resources/en-US/dynamiccomponents.strings
su_dynamiccomponents/Resources/es/dynamiccomponents.strings
su_dynamiccomponents/Resources/fr/dynamiccomponents.strings
su_dynamiccomponents/Resources/it/dynamiccomponents.strings
su_dynamiccomponents/Resources/ja/dynamiccomponents.strings
su_dynamiccomponents/Resources/ko/dynamiccomponents.strings
su_dynamiccomponents/Resources/pl/dynamiccomponents.strings
su_dynamiccomponents/Resources/pt-BR/dynamiccomponents.strings
su_dynamiccomponents/Resources/ru/dynamiccomponents.strings
su_dynamiccomponents/Resources/sv/dynamiccomponents.strings
su_dynamiccomponents/Resources/zh-CN/dynamiccomponents.strings
su_dynamiccomponents/Resources/zh-TW/dynamiccomponents.strings
su_extension_migrator.rb
su_extension_migrator/dialog.css
su_extension_migrator/dialog.html
su_extension_migrator/extension_info.txt
su_extension_migrator/images/arrow.svg
su_extension_migrator/images/folder.svg
su_extension_migrator/images/sketchup-pre2021.svg
su_extension_migrator/images/sketchup.svg
su_extension_migrator/images/status-copied.svg
su_extension_migrator/images/status-fail.svg
su_extension_migrator/images/status-success.svg
su_extension_migrator/images/update.svg
su_extension_migrator/modus.css
su_extension_migrator/Resources/cs/extension_migrator.strings
su_extension_migrator/Resources/de/extension_migrator.strings
su_extension_migrator/Resources/en-US/extension_migrator.strings
su_extension_migrator/Resources/es/extension_migrator.strings
su_extension_migrator/Resources/fr/extension_migrator.strings
su_extension_migrator/Resources/it/extension_migrator.strings
su_extension_migrator/Resources/ja/extension_migrator.strings
su_extension_migrator/Resources/ko/extension_migrator.strings
su_extension_migrator/Resources/pl/extension_migrator.strings
su_extension_migrator/Resources/pt-br/extension_migrator.strings
su_extension_migrator/Resources/ru/extension_migrator.strings
su_extension_migrator/Resources/sv/extension_migrator.strings
su_extension_migrator/Resources/zh-cn/extension_migrator.strings
su_extension_migrator/Resources/zh-tw/extension_migrator.strings
su_sandbox.rb
su_sandbox/extension_info.txt
su_sandbox/images/contours.svg
su_sandbox/images/cursor_adddetail.svg
su_sandbox/images/cursor_cmove.svg
su_sandbox/images/cursor_cmove_proto.svg
su_sandbox/images/cursor_drape_0.svg
su_sandbox/images/cursor_drape_1.svg
su_sandbox/images/cursor_drawfromscratch_0.svg
su_sandbox/images/cursor_drawfromscratch_1.svg
su_sandbox/images/cursor_drawfromscratch_2.svg
su_sandbox/images/cursor_flipedge.svg
su_sandbox/images/cursor_flipedge_proto.svg
su_sandbox/images/cursor_smoove.svg
su_sandbox/images/cursor_stamp_0.svg
su_sandbox/images/cursor_stamp_1.svg
su_sandbox/images/detailer.svg
su_sandbox/images/drape.svg
su_sandbox/images/flatterrain.svg
su_sandbox/images/flipper.svg
su_sandbox/images/smoove.svg
su_sandbox/images/stamper.svg
su_sandbox/Resources/cs/sandbox.strings
su_sandbox/Resources/de/sandbox.strings
su_sandbox/Resources/en-US/sandbox.strings
su_sandbox/Resources/es/sandbox.strings
su_sandbox/Resources/fr/sandbox.strings
su_sandbox/Resources/it/sandbox.strings
su_sandbox/Resources/ja/sandbox.strings
su_sandbox/Resources/ko/sandbox.strings
su_sandbox/Resources/pl/sandbox.strings
su_sandbox/Resources/pt-BR/sandbox.strings
su_sandbox/Resources/ru/sandbox.strings
su_sandbox/Resources/sv/sandbox.strings
su_sandbox/Resources/zh-CN/sandbox.strings
su_sandbox/Resources/zh-TW/sandbox.strings
