# App Cache - Runtime-generated data, never committed
**/90__AppCache__TempFilesCache/
**/Na__DataLib__Cache__*.json

# Third-party plugin runtime files
curic_stretch/config/license.dat
s4u_slice/s4u_slice.txt

# Custom Archive Directories
00__Archive/
01__Archive/
00_Archive/
01_Archive/
00__ArchivedVersions/
01__ArchivedVersions/
00_ArchivedVersions/
01_ArchivedVersions/

# Checkpoint Archives
02_-_Code-Checkpoints-Archive/

